<script src="common.js"></script>

<style>
  #editableJsonTextarea {
    width: 850px;
    height: 500px;
  }

  .inputs {
    width: 95%;
  }

  #definedEventsSelector {
    width: 300px;
  }

  #feedback {
    margin: 15px;
    width: 100px;
    height: 20px;
  }
</style>
<script>
  const MODAL_LOG_COLOR = 'background:lightyellow';
</script>
<table border="1">
  <tr>
    <td valign="top">
      <table border="1">
        <tr>
          <td align="right"><b>Title</b></td>
          <td><input class="inputs" type="text" id="title" value="" /></td>
        </tr>
        <tr>
          <td align="right"><b>Creation Date</b></td>
          <td id="creationDate"></td>
        </tr>
        <tr>
          <td align="right"><b>Event</b></td>
          <td><input class="inputs" type="text" id="event" value="" /></td>
        </tr>
        <tr>
          <td align="right"><b>Json</b></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea id="editableJsonTextarea" value=""> </textarea>
          </td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <!-- Dynamically populated with the below populateDropdown() func -->
      <select
        size="20"
        id="definedEventsSelector"
        onchange="handleSelectChange()"
      ></select>
      <button onclick="clearModal()">clear</button>
      <br />
      <button onclick="beautify()">beautify</button>
      <br />
      <button onClick="save()">save</button>
      <br />
      <button onClick="removeSelectedOption_andZapFromLocalstorage()">
        delete selected
      </button>
      <br />
      <button onclick="checkLocalStorage()">checkLocalStorage</button>
      <div id="feedback"></div>
      <hr />
      <button onclick="sendMessageToParent('checkLocalstorage')">TDD</button>
      <br />
      <button onclick="eraseLocalstorage('eraseLocalstorage')">
        Erase Localstorage
      </button>
    </td>
  </tr>
  <!-- </table> -->
  <!-- Ok - this is honestly a mystery to me. If I have a </table> here it will break
    Clearly, something is unbalanced. 
    But I do not see where. -->

  <script>
    function log(msg) {
      if (typeof msg === 'object') {
        console.log('%c' + JSON.stringify(msg), MODAL_LOG_COLOR);
      } else {
        console.log('%c' + msg, MODAL_LOG_COLOR);
      }
    }

    let LOCAL_STORAGE_GLOBAL_EVENTS_KEY = undefined;
    window.addEventListener('message', gotMessageFromParent, false);
    function gotMessageFromParent(event) {
      const command = event.data;
      if (command.verb === 'setLocalstorageKey') {
        LOCAL_STORAGE_GLOBAL_EVENTS_KEY = command.noun;
        populateDropdown();
      } else if (command.verb === 'updateUI') {
        populateDropdown();
      }
    }
    function sendMessageToParent(command) {
      try {
        if (command === 'checkLocalstorage') {
          // This is NOT for the app. This is for TDD
          const msg = {
            verb: 'checkLocalstorage',
            noun: LOCAL_STORAGE_GLOBAL_EVENTS_KEY,
          };
          window.parent.postMessage(msg, '*');
        } else if (command === 'updateUI') {
          // Something was added or deleted; Tell mother
          const msg = {
            verb: 'updateUI',
            noun: LOCAL_STORAGE_GLOBAL_EVENTS_KEY,
          };
          window.parent.postMessage(msg, '*');
        } else if (command === 'eraseLocalstorage') {
          // Erase the localstorage
          const msg = {
            verb: 'eraseLocalstorage',
            noun: LOCAL_STORAGE_GLOBAL_EVENTS_KEY,
          };
          window.parent.postMessage(msg, '*');
          giveHumanSomeHappyFeedBack();
        }
      } catch (boom) {
        console.error(boom);
      }
    }

    function eraseLocalstorage() {
      //
      const dropdown = document.getElementById('definedEventsSelector');
      dropdown.innerHTML = '';

      document.getElementById('title').value = '';
      document.getElementById('creationDate').innerHTML = '';
      document.getElementById('event').value = '';
      document.getElementById('editableJsonTextarea').value = '';

      sendMessageToParent('eraseLocalstorage');
    }
    function populateDropdown() {
      log('populateDropdown: key=' + LOCAL_STORAGE_GLOBAL_EVENTS_KEY);

      const rawString = localStorage.getItem(LOCAL_STORAGE_GLOBAL_EVENTS_KEY);
      const events = JSON.parse(rawString);
      let keys = Object.keys(events);
      keys = keys.sort();
      const newOptionsData = [];
      keys.forEach((key) => {
        newOptionsData.push({ value: key, text: key });
      });
      const dropdown = document.getElementById('definedEventsSelector');
      dropdown.innerHTML = '';
      newOptionsData.forEach((option) => {
        const { value, text } = option;
        const optionElement = document.createElement('option');
        optionElement.value = value;
        optionElement.text = text;
        dropdown.appendChild(optionElement);
      });
    }
    function handleSelectChange() {
      const dropdown = document.getElementById('definedEventsSelector');
      const selectedIndex = dropdown.selectedIndex;
      const selectedOption = dropdown.options[selectedIndex].value;
      const rawString = localStorage.getItem(LOCAL_STORAGE_GLOBAL_EVENTS_KEY);
      const events = JSON.parse(rawString);
      const event = events[selectedOption];
      document.getElementById('title').value = selectedOption;
      document.getElementById('event').value = event.event;
      document.getElementById('creationDate').innerHTML = event.created;
      try {
        document.getElementById('editableJsonTextarea').value = JSON.stringify(
          event.json,
          null,
          2
        );
        giveHumanSomeHappyFeedBack;
      } catch (ignore_because_it_might_not_be_json) {
        document.getElementById('editableJsonTextarea').value = event.json;
      }
    }
    function removeSelectedOption_andZapFromLocalstorage() {
      const dropdown = document.getElementById('definedEventsSelector');
      const selectedIndex = dropdown.selectedIndex;
      if (selectedIndex < 0) {
        alert('Nothing has been selected!');
      } else {
        giveHumanSomeHappyFeedBack();

        // dropdown
        const selectedOption = dropdown.options[selectedIndex].value;
        const optionToRemove = dropdown.querySelector(
          `option[value='${selectedOption}']`
        );
        dropdown.removeChild(optionToRemove);
        // modal
        clearModal();
        // localstorage
        const rawString = localStorage.getItem(LOCAL_STORAGE_GLOBAL_EVENTS_KEY);
        const events = JSON.parse(rawString);
        delete events[selectedOption];
        localStorage.setItem(
          LOCAL_STORAGE_GLOBAL_EVENTS_KEY,
          JSON.stringify(events)
        );
        //
        sendMessageToParent('updateUI');
      }
    }

    function clearModal() {
      giveHumanSomeHappyFeedBack();

      const dropdown = document.getElementById('definedEventsSelector');
      dropdown.selectedIndex = -1;
      document.getElementById('title').value = '';
      document.getElementById('event').value = '';
      document.getElementById('creationDate').innerHTML = '';
      document.getElementById('editableJsonTextarea').value = '';
    }

    function checkLocalStorage() {
      const rawString = localStorage.getItem(LOCAL_STORAGE_GLOBAL_EVENTS_KEY);
      const events = JSON.parse(rawString);
      let keys = Object.keys(events);
      keys = keys.sort();
      const thisIsWhatWeHaveInLocalStorage = {};
      keys.forEach((key) => {
        const obj = events[key];
        thisIsWhatWeHaveInLocalStorage[key] = {
          title: key,
          event: obj.event,
          // created: obj.created
          json: obj.json,
        };
      });
      clearModal();
      document.getElementById('editableJsonTextarea').value = JSON.stringify(
        thisIsWhatWeHaveInLocalStorage,
        null,
        2
      );
    }

    function save() {
      function addNewThingIntoDroplist(title) {
        const dropdown = document.getElementById('definedEventsSelector');
        const newOption = document.createElement('option');
        newOption.value = title;
        newOption.text = title;
        dropdown.appendChild(newOption);
        newOption.selected = true;
      }

      function setAsSelectedThisThing(title) {
        const dropdown = document.getElementById('definedEventsSelector');
        for (let i = 0; i < dropdown.options.length; i++) {
          const option = dropdown.options[i];
          if (option.value === title) {
            option.selected = true;
            break;
          }
        }
      }
      const wellFormedJson = document.getElementById(
        'editableJsonTextarea'
      ).value;
      if (beautify() === true) {
        const mightBeGood = {
          title: document.getElementById('title').value,
          event: document.getElementById('event').value,
          created: getPrettyDate(),
          json: wellFormedJson,
        };
        let isOk = true;
        const failures = [];
        for (let key in mightBeGood) {
          if (mightBeGood[key].length < 2) {
            failures.push(key);
            isOk = false;
          }
        }
        if (isOk === false) {
          alert(
            'You are missing fields\nNote: Need at least 1 char per field:\n' +
              JSON.stringify(failures)
          );
        } else {
          const rawString = localStorage.getItem(
            LOCAL_STORAGE_GLOBAL_EVENTS_KEY
          );
          const events = JSON.parse(rawString);
          if (!events.hasOwnProperty(mightBeGood.title)) {
            addNewThingIntoDroplist(mightBeGood.title);
          } else {
            setAsSelectedThisThing(mightBeGood.title);
          }

          events[mightBeGood.title] = {
            event: mightBeGood.event,
            created: mightBeGood.created,
            json: JSON.parse(mightBeGood.json),
          };
          giveHumanSomeHappyFeedBack();
          localStorage.setItem(
            LOCAL_STORAGE_GLOBAL_EVENTS_KEY,
            JSON.stringify(events)
          );
          sendMessageToParent('updateUI');
        }
      }
    }
  </script>
</table>
